{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.text.label }}
            {{ form.text(class="form-control") }}
            <small id="textHelp" class="form-text text-muted">Напишите здесь какой-нибудь текст</small>
        </div>
        {% for error in form.text.errors %}
            <div class="alert alert-warning" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        {{ form.submit(class="btn btn-large btn-primary") }}
    </form>
{% endblock content %}