{% extends "base.html" %}

{% block content %}

    <div class="row">
        {% for post in posts %}
            <div class="col-sm-4 p-1">
                <div class="card">
                  <div class="card-header">
                    {{ post.heading | upper }}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>{{ post.text | safe }}</p>
                      <footer class="blockquote-footer">Опубликовал <cite>{{ post.author.name }}</cite></footer>
                    </blockquote>
                      <a href="{{ url_for('view_post', id_post=post.id) }}" class="btn btn-outline-dark mt-3">Читать далее...</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock content %}