{% extends "base.html" %}

{% block content %}
    <h1 class="display-3 mb-3">{{ post.heading }}</h1>
    <h3 class="lead">
        Опубликовал {{ post.author.name }}

        {{ moment(post.date_created).fromNow() }}

        {% if post.category.name %}
            в категории <a href="{{ url_for('view_category', alias=post.category.alias) }}">«{{ post.category.name }}»</a>
        {% endif %}
    </h3>
    <p class="lead">{{ post.text | safe }}</p>

{#    Карточка с динамической загрузкой статей #}
    <hr class="my-5">
    <div class="card">
        <div class="card-header">
            Статья закончилась <button class="btn btn-primary" id="load-articles">Загрузить еще?</button>
        </div>
        <div class="list-group" id="loaded-articles">
            <div class="list-group-item text-muted"><i>Пока еще нет статей</i></div>
        </div>
    </div>
{% endblock %}

{% block script_src %}
    <script>
        let loadedPosts = document.getElementById('loaded-articles');
        document.getElementById('load-articles').addEventListener('click', e => {
            fetch('/api/v1/posts')
                .then(response => response.json())
                .then(json => {
                    loadedPosts.innerHTML = '';
                    for (let post of json) {
                        loadedPosts.innerHTML += `<div class="list-group-item text-muted"> \
                                                  <strong>${post.title}</strong> - ${post.body}</div>`
                    }
                })
        })
    </script>
{% endblock %}